@model dynamic

@{
    ViewBag.Title = "Welcome";
    Layout = null;
}

<head>
    <title>Welcome</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
</head>

<div class="container col-auto">
    <h2>Welcome</h2>
    <div class="row">
        <button id="loadgame" class="col" onclick="loadGame()">Load Game</button>
    </div>
    <div class="row">
        <button id="newgame" class="col" onclick="newGame()">New Game</button>
    </div>
</div>

<script type="text/javascript">
function newGame(){
    window.location = '/game/newgame';
    }
    function loadGame(){
    window.location = '/game/loadgame'
    }

</script>